---
import { Icon } from "astro-icon/components";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<!-- https://stackoverflow.com/questions/55056513/vertical-align-with-tailwind-css-across-full-screen-div -->
	<div class="flex h-screen">
		<div class="m-auto">
			<div class = resume-wrapper>
				<center>
						<div class = "iconLabel flex-wrap text-black dark:text-white">
							<Icon name="mdi:error" size = {60}/>
							<h1 class = "ml-2">Page not found</h1>
						</div>
						<a id= "backtohome" href = "index.html" class = "border-none"> 
							<button class="button mt-7">
								<div class="iconLabel">
									<Icon name="mdi:arrow-back" />
									Back to homepage
								</div>
							</button> 
						</a>
				</center>
			</div>
		</div>
	</div>
</BaseLayout>

<script src="../scripts/themeToggle.js"></script>