---
import ResumeLayout from '../layouts/ResumeLayout.astro';
const allResumeSections = await Astro.glob("../EDIT_ME/*.md");
---
<!-- https://stackoverflow.com/questions/74504239/how-to-render-multiple-markdown-files-on-one-page-in-astro -->
<ResumeLayout>
		{
			allResumeSections.map((section) => (
					<h2 class="sectionTitle" id={section.frontmatter.title}>{section.frontmatter.title}</h2>
					<div class="section"><section.Content /></div>
			))
		}
</ResumeLayout>
