---
import ResumeLayout from '../layouts/ResumeLayout.astro';
const allResumeSections = await Astro.glob("../resume_sections/*.md");
---
<!-- https://stackoverflow.com/questions/74504239/how-to-render-multiple-markdown-files-on-one-page-in-astro -->
<ResumeLayout title="Y/N's Resume">
		{
			allResumeSections.map((section) => (
				<ul style="border: 2px solid gray; margin-bottom: 20px">
					<h2 id={section.frontmatter.title}>{section.frontmatter.title}</h2>
					<section.Content />
				</ul>
			))
		}
</ResumeLayout>
