---
const allResumeSections = await Astro.glob("../resume_sections/*.md");
const menuContent = allResumeSections.map((section) => (
  {
    "anchor": "#" + section.frontmatter.title,
    "title": section.frontmatter.title
  }
))
---

<div id = "dropdown-menu">
  <div class="flex flex-col">
    {
			menuContent.map((content) => (
      <a class = "dropdown-menu-links" href={content.anchor}><div>{content.title}</div></a>
      ))
		}
  </div>
</div>

<script src="../scripts/dropdown.js"></script>