---
---

<div class="pb-[1rem] px-[1rem] md:p-0 break-normal">
  <div class = "flex flex-row gap-x-4 items-start mt-2 text-xs text-slate-400">
    <div class="flex-auto">
      Made with <a href="https://github.com/nikitatran/astro-simple-resume">Simple Resume Theme</a>
    </div>

    <div class="text-right">Last updated mm/dd/yyyy</div>

  </div>
</div>