---
---

<div>
  <div class = "flex flex-row items-start mt-2 text-xs text-slate-400">
    <div class="flex-auto">
      Made with <a href="#" class="underline">Simple Theme</a>
    </div>

    Last updated mm/dd/yyyy

  </div>
</div>